version: "3.8"
services:
  php:
    build:
      context: .
      dockerfile: Dockerfile-php
    ports:
      - "8080:80"
    volumes:
      - ./public/php:/var/www/html/php
      - ./public/data:/var/www/html/data
      - ./public/assets:/var/www/html/assets
